.error{padding-top: 60px; width: 777px; margin:0 auto;}
.errorbg{ height: 475px; width: 463px;     }
.errorf{font-size: 16x; color: #666666; width: 292px; margin-left: 10px; }
.errorf a{font-size: 16px!important; color: #666666; font-weight: bold;}
.errorn{height: 415px; padding-top: 15px; overflow: hidden; margin-bottom: 25px;}