<!-- header -->
<div class="bg-light lter b-b wrapper-xs ng-scope">
    <ul class="breadcrumb">
        <li><a ui-sref="app.dashboard"><i class="fa fa-home"></i> 首页</a></li>
        <li><a ui-sref="app.role.list">会员组列表</a></li>
        <li class="active">授权会员列表</li>
    </ul>
</div>

<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading font-bold"  ng-controller="membersModalCtrl">
            <a class="btn m-b-xs w-medium btn-success" ng-click="open('addMembers', 'lg')">添加授权用户</a>
        </div>
        <div class="panel-body b-b b-light">
            Search: <input id="filter" type="text" class="form-control input-sm w-sm inline m-r"/>
        </div>
        <div ng-controller="RoleMembersCtrl">
            <table class="table m-b-none" ui-jq="footable" data-filter="#filter" data-page-size="5">
                <thead>
                <tr>
                    <th data-toggle="true">id</th>
                    <th>邮箱</th>
                    <th>真实姓名</th>
                    <th>更新时间</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-hide='userGroupMembers.length>-1'>
                    <td colspan=6 align=center><i class="fa fa-spinner fa-pulse"></i>&nbsp;正在加载...</td>
                </tr>
                <tr ng-repeat="user in userGroupMembers">
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.truename }}</td>
                    <td>{{ user.updated_at }}</td>
                    <td>{{ user.created_at }}</td>
                    <td><button class="btn btn-danger btn-xs {{ group.status }}" ng-click="onCancel({id:user.id})" ng-class="{true:'disabled'}[user.id==1]">解除授权</button></td>
                </tr>
                </tbody>
                <tfoot class="hide-if-no-paging">
                <tr>
                    <td colspan="6" class="text-center">
                        <ul class="pagination"></ul>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>